@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~devextreme/dist/css/dx.light.css';

/* @font-face {
    font-family: "Barlow";
    src: url("../public/fonts/Barlow-Regular.ttf");
} */

::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-track{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4); 
}

::-webkit-scrollbar-thumb{
    background-color: rgba(60,186,178, 55%);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px gray-100; 
    
}